.cta--container {
    padding: 3.25rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.75rem;
    text-align: center;

    .cta--heading {
        max-width: 300px;
        font-size: 2.375rem;
        line-height: 1.05;
        font-weight: 900;
        color: $dark-gray;
    }

    .cta--button {
        width: 148px;
        height: 42px;
        font-size: 1.125rem;
        border-radius: 2rem;
        border: none;
        font-family: inherit;
        font-weight: 700;
        color: $white;
        background: $green;
        box-shadow: 0 10px 20px -8px transparent;
    }
}

@media screen and (min-width: 768px) {
    .cta--container {
        padding: 5rem 2rem;
        gap: 2.5rem;

        .cta--heading {
            max-width: 400px;
            font-size: 3.5rem;
        }

        .cta--button {
            width: 168px;
            height: 50px;
            font-size: 1.25rem;
        }
    }
}

@media screen and (min-width: 1280px) {
    .cta--container {
        padding: 6rem 2rem;
        gap: 2.75rem;

        .cta--heading {
            max-width: 500px;
            font-size: 4rem;
        }
        
        .cta--button {
            cursor: pointer;
            transition: .2s;

            &:hover {
                transform: scale(1.1);
                transition: .2s;
            }
        }
    }
}

@media screen and (min-width: 1600px) {
    .cta--container {
        padding: 8rem 2rem;

        .cta--heading {
            font-size: 5rem;
            max-width: 600px;
        }

        .cta--button {
            font-size: 1.5rem;
            width: 200px;
            height: 64px;
        }
    }
}