.hero--container {
    padding-top: 5rem;

    .hero--video--container {
        overflow: hidden;
        position: relative;
        height: 30rem;
        border: 1px solid red;

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
        }
    }
}