.hero--container {
    padding: 7.5rem 2rem 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: .5rem;


    .hero--heading {
        font-size: 2.375rem;
        color: $dark-gray;

        span {
            color: $green;
        }
    }

    .hero--description {
        font-size: 1.125rem;
        color: $dark-gray;
        line-height: 1.45;
    }

    .hero--video--container {
        margin-top: 3rem;
        overflow: hidden;
        position: relative;
        height: 12.5rem;
        width: 100%;

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
        }
    }
}