$green: #04ddb2;
$white: #fff;
$dark-gray: #333;
$light-gray: #767676;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    font-family: Helvetica, sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

@import "./header";
@import "./hero";
@import "./cta";