* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: Helvetica, sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

.header {
  padding: 1.25rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: rgba(255, 255, 255, 0.875);
  -webkit-backdrop-filter: blur(0.125rem);
          backdrop-filter: blur(0.125rem);
  position: fixed;
  z-index: 99;
  -webkit-box-shadow: rgba(0, 0, 0, 0) 0px 30px 60px -10px;
          box-shadow: rgba(0, 0, 0, 0) 0px 30px 60px -10px;
}

.header .header--logo {
  width: 5rem;
}

.header .header--menu--button {
  border: none;
  background: none;
}

.header .header--nav {
  width: 100%;
}

.header .header--nav .header--nav--ul {
  padding: 1.25rem .5rem;
  list-style-type: none;
  display: none;
}

.header .header--nav .header--nav--ul.show {
  padding-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.25rem;
  -webkit-animation: width .2s;
          animation: width .2s;
}

@-webkit-keyframes width {
  0% {
    height: 0px;
    opacity: 0;
  }
  100% {
    height: 440px;
    opacity: 1;
  }
}

@keyframes width {
  0% {
    height: 0px;
    opacity: 0;
  }
  100% {
    height: 440px;
    opacity: 1;
  }
}

.header .header--nav .header--nav--ul .header--nav--ul--li--download {
  padding: 2rem 0;
  margin: auto;
}

.header .header--nav .header--nav--ul a {
  font-size: 1.25rem;
  color: #767676;
  line-height: 1.2;
  font-weight: 500;
  text-decoration: none;
}

.header .header--nav .header--nav--ul a.header--nav--ul--tour--link {
  color: #333;
}

.header .header--nav .header--nav--ul .header--nav--ul--download--link {
  border: none;
  margin: auto;
  background: #04ddb2;
  color: #fff;
  padding: .5rem 5rem;
  border-radius: 50px;
  font-size: 1.125rem;
  font-weight: 700;
}

@media screen and (min-width: 1024px) {
  .header {
    padding: 1rem 2.5rem;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .header .header--menu--button {
    display: none;
  }
  .header .header--nav {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .header .header--nav .header--nav--ul {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: unset;
    gap: 2rem;
  }
  .header .header--nav .header--nav--ul .header--nav--ul--li--link1 {
    margin-left: auto;
  }
  .header .header--nav .header--nav--ul .header--nav--ul--li--download {
    padding: unset;
    margin: unset;
    margin-left: auto;
  }
  .header .header--nav .header--nav--ul a {
    font-size: 1.125rem;
    display: inline-block;
    -webkit-transition: .2s;
    transition: .2s;
  }
  .header .header--nav .header--nav--ul a:hover {
    color: #333;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition: .2s;
    transition: .2s;
  }
  .header .header--nav .header--nav--ul .header--nav--ul--download--link {
    padding: .75rem;
    font-weight: 700;
    cursor: pointer;
    -webkit-transition: .2s;
    transition: .2s;
  }
  .header .header--nav .header--nav--ul .header--nav--ul--download--link:hover {
    color: #fff;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition: .2s;
    transition: .2s;
  }
}

.hero--container {
  padding: 7.5rem 2rem 0 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  gap: .5rem;
}

.hero--container .hero--heading {
  font-size: 2.375rem;
  color: #333;
}

.hero--container .hero--heading span {
  color: #04ddb2;
}

.hero--container .hero--description {
  font-size: 1.125rem;
  color: #333;
  line-height: 1.45;
}

.hero--container .hero--video--container {
  margin-top: 3rem;
  overflow: hidden;
  position: relative;
  height: 12.5rem;
  width: 100%;
}

.hero--container .hero--video--container iframe {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .hero--container {
    padding: 7.5rem 4rem 0 4rem;
  }
  .hero--container .hero--heading {
    font-size: 3.5rem;
  }
  .hero--container .hero--description {
    font-size: 1.5rem;
    max-width: 550px;
  }
  .hero--container .hero--video--container {
    height: 25rem;
  }
}

@media screen and (min-width: 1024px) {
  .hero--container {
    padding: 7.5rem 5rem 0 5rem;
  }
  .hero--container .hero--video--container {
    height: 30rem;
  }
}

@media screen and (min-width: 1280px) {
  .hero--container .hero--heading {
    font-size: 4rem;
  }
  .hero--container .hero--description {
    font-size: 1.625rem;
  }
  .hero--container .hero--video--container {
    margin-top: 5rem;
    width: 75%;
    height: 32.5rem;
  }
}

@media screen and (min-width: 1440px) {
  .hero--container .hero--video--container {
    height: 37.5rem;
  }
}

@media screen and (min-width: 1600px) {
  .hero--container .hero--heading {
    font-size: 5rem;
  }
  .hero--container .hero--description {
    max-width: 700px;
    font-size: 2rem;
  }
}

.cta--container {
  padding: 3.25rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.75rem;
  text-align: center;
}

.cta--container .cta--heading {
  max-width: 300px;
  font-size: 2.375rem;
  line-height: 1.05;
  font-weight: 900;
  color: #333;
}

.cta--container .cta--button {
  width: 148px;
  height: 42px;
  font-size: 1.125rem;
  border-radius: 2rem;
  border: none;
  font-family: inherit;
  font-weight: 700;
  color: #fff;
  background: #04ddb2;
  -webkit-box-shadow: 0 10px 20px -8px transparent;
          box-shadow: 0 10px 20px -8px transparent;
}

@media screen and (min-width: 768px) {
  .cta--container {
    padding: 5rem 2rem;
    gap: 2.5rem;
  }
  .cta--container .cta--heading {
    max-width: 400px;
    font-size: 3.5rem;
  }
  .cta--container .cta--button {
    width: 168px;
    height: 50px;
    font-size: 1.25rem;
  }
}

@media screen and (min-width: 1280px) {
  .cta--container {
    padding: 6rem 2rem;
    gap: 2.75rem;
  }
  .cta--container .cta--heading {
    max-width: 500px;
    font-size: 4rem;
  }
  .cta--container .cta--button {
    cursor: pointer;
    -webkit-transition: .2s;
    transition: .2s;
  }
  .cta--container .cta--button:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition: .2s;
    transition: .2s;
  }
}

@media screen and (min-width: 1600px) {
  .cta--container {
    padding: 8rem 2rem;
  }
  .cta--container .cta--heading {
    font-size: 5rem;
    max-width: 600px;
  }
  .cta--container .cta--button {
    font-size: 1.5rem;
    width: 200px;
    height: 64px;
  }
}

footer {
  margin: 0 1rem;
  padding: 3rem 0 3rem 0;
  border-top: 0.5px solid rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  gap: 3rem;
  color: #333;
}

footer .footer--logo--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  list-style-type: none;
}

footer .footer--logo--container .footer--logo {
  width: 4.5rem;
}

footer .footer--nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5rem;
}

footer .footer--nav .footer--nav--ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

footer .footer--nav .footer--nav--ul .footer--nav--ul--heading {
  font-weight: 700;
}

footer .footer--nav .footer--nav--ul a {
  text-decoration: none;
  color: #333;
}

footer .footer--nav .footer--nav--ul--subcontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5rem;
}

footer .footer--nav .footer--resources--socials--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 3rem;
}

footer .footer--nav .footer--resources--socials--container .footer--nav--ul--socials {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

@media screen and (min-width: 375px) {
  footer .footer--nav .footer--resources--socials--container {
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    gap: 5.5rem;
  }
  footer .footer--nav .footer--nav--ul--subcontainer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    gap: 3.25rem;
  }
}

@media screen and (min-width: 768px) {
  footer {
    margin: 0;
    padding: 3rem 0 6rem 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 3rem;
  }
  footer .footer--logo--container {
    -webkit-box-ordinal-group: unset;
        -ms-flex-order: unset;
            order: unset;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  footer .footer--nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 3rem;
  }
  footer .footer--nav .footer--nav--ul {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  footer .footer--nav .footer--nav--ul .footer--nav--ul--heading {
    margin-bottom: .75rem;
  }
  footer .footer--nav .footer--resources--socials--container {
    gap: 2rem;
  }
  footer .footer--nav .footer--nav--ul--subcontainer {
    gap: 3rem;
  }
}

@media screen and (min-width: 1024px) {
  footer {
    margin: 0 10%;
    gap: 4rem;
  }
  footer .footer--nav {
    gap: 4rem;
  }
  footer .footer--nav .footer--nav--ul a {
    display: inline-block;
    -webkit-transition: .2s;
    transition: .2s;
  }
  footer .footer--nav .footer--nav--ul a:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition: .2s;
    transition: .2s;
  }
  footer .footer--nav .footer--resources--socials--container {
    gap: 3rem;
  }
  footer .footer--nav .footer--resources--socials--container .footer--nav--ul--socials a {
    display: inline-block;
    -webkit-transition: .2s;
    transition: .2s;
  }
  footer .footer--nav .footer--resources--socials--container .footer--nav--ul--socials a:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    -webkit-transition: .2s;
    transition: .2s;
  }
  footer .footer--nav .footer--nav--ul--subcontainer {
    gap: 4rem;
  }
}

@media screen and (min-width: 1280px) {
  footer {
    gap: 7rem;
  }
  footer .footer--nav {
    gap: 7rem;
  }
  footer .footer--nav .footer--resources--socials--container {
    gap: 6rem;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  footer .footer--nav .footer--resources--socials--container .footer--nav--ul--socials {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  footer .footer--nav .footer--nav--ul--subcontainer {
    gap: 7rem;
  }
}

@media screen and (min-width: 1600px) {
  footer {
    font-size: 1.25rem;
  }
}
/*# sourceMappingURL=general.css.map */